Package: apt-btrfs-snapshot
Version: 2:3.6.3-1~disco1
Architecture: all
Maintainer: Mikhail Novosyolov <mikhailnov@dumalogiya.ru>
Installed-Size: 46
Depends: python3:any (>= 3.2~), btrfs-progs | btrfs-tools
Recommends: btrfsmaintenance, dumasnap
Section: admin
Priority: optional
Homepage: https://gitlab.com/nixtux-packaging/apt-btrfs-snapshot
Description: Automatically create snapshot on apt operations
 This will create a btrfs snapshot of the root filesystem each time
 that apt installs/removes/upgrades a software package.
 .
 A commandline tool called "apt-btrfs-snapshot" is also provided
 for easy access create/list/delete snapshots.
